.box,.box-border,.box-padding,.box-sizing {
	width:500px;
	margin:30px auto;
	border:4px solid black;
	text-align:center;
}



.box {
	
	background-color:blue;
}

.box-border {

	background-color:red;
	-webkit-box-sizing:border-box;
	-moz-box-sizing :border-box;
	box-sizing:border-box;
	padding:70px;
}

.box-padding {

	background-color:green;
	-webkit-box-sizing:padding-box;
	-moz-box-sizing:padding-box;
	box-sizing:padding-box;
	padding:50px;
}
.box-sizing {
	background-color:yellow;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing: content-box;
}