.simple{
	width:20px;
	-webkit-box-sizing:border-box;
	 -box-sizing:border-box;
	 		box-sizing: border-box;
	 	padding-left:50px;
	 		margin: 200px auto;
	 		height: 300px;
	 
	 		
	 		border-radius: 50px;
	 		top: 10px;
	 		text-align:center; 


}
.fancy{
	width:400px;
	height:300px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: green;
	box-sizing: border-box;
	border:8px solid;
}