.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  max-width: 100%;
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 50vh;
  padding: 1%;
}

.main-article {
  background-color:	#ff8dcd;
}

.secondary-article {
  background-color: #3f8dcd;
}

.sidebar {
  background-color: #6bfabd;
}

.header {
  height: 300px;
  background-color: #d697db;
  text-align: center;
}

.header-title {
  color: white;
  font-size: 48px;
  margin: 0;
}

.jobs  {
  background-color: #fcf8c8;

}

.footer {
  text-align: center;
}

.navigation{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
}
  li{
    display: block;
  }

@media all and (min-width: 600px){
  .container{
    flex-direction: row;
  }
  .secondary-article {
    width: 50%;
    
  }
  .sidebar{
    
  }

}
@media all and (min-width: 1200px) {
  
  .main-article {
    width: 40%;
  }
    .secondary-article {
    width: 25%;
  }
   .sidebar {
    width: 10%;
   }
}

/*
}
@media all and (min-width: 800px) {
  html{background-color: black; }
}
@media all and (min-width: 600px) {
  html{background-color: green; }
}
@media all and (min-width: 400px) {
    html{background-color: red; }
  } */
