<!DOCTYPE html>
<html>
  <head>
	<title>Dsiplay properties</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
   </head>
  <body>

      
      <header>
        <h3>&lt;header&gt;</h3>
      </header>

       <main>

      <nav>
        <h3>&lt;Nav&gt;</h3>
      </nav>

      <aside>
        <h3>&lt;aside&gt;</h3>
      </aside>
       <content>
        <h3>&lt;content&gt;</h3> 
       </content>

      </main>

      <footer>
        <h3>&lt;footer&gt;</h3>
	  </footer>

   </body>
</html>