header,section,aside,footer{
	background-color: green;
	padding: 50px;
	text-align: center;
	border-radius: 15px;
	margin: 10px;
	height: 100px;


}
.sa{
	float: left;
	width: 300px;
}
.ma{
	float: right;
	width: 300px;
}
.ss{
	clear: both;
}