.one {
    height: 200px;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(0, 0, 0, 0.5));
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(0, 0, 0, 0.5)); 
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(0, 0, 0, 0.5)); 
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.5)); 
}

.two {
    height: 200px;
    background: red;  
    background: -webkit-linear-gradient(left top, black, white); 
    background: -o-linear-gradient(bottom right, black, white); 
    background: -moz-linear-gradient(bottom right, black, white); 
    background: linear-gradient(to bottom right, black, white); 
}

.three {
    height: 200px;
    background: red;  
    background: -webkit-linear-gradient(left, white , black); 
    background: -o-linear-gradient(right, white, black); 
    background: -moz-linear-gradient(right, white, black); 
    background: linear-gradient(to right, white , black); 
}

.four {
    height: 150px;
    width: 200px;
    background: -webkit-radial-gradient(white, gray, black);
    background: -o-radial-gradient(white, gray, black); 
    background: -moz-radial-gradient(white, gray, black); 
    background: radial-gradient(white, gray, black); 
}


