
body{
	background-color: #111;
}
header{
	float:center;
	height:200px;
}
.main-container {
	top: 100px;
	width: 60%;
	margin: 0 auto;
	color: white;
	clear: both;
	position: relative;
}
#logo{
	font-size: 40px;
	float: left;
	width: 50%;
}
#datum{
	float: right;
	top: 50px;
	display: inline;
	color: green;	
}
.nav{
	display: inline;
	color: white;
	float: right;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	float: left;
	margin-left: 5px;
}
.nav ul li a{
	text-decoration: none;
}
h1{
	color: green;
	text-align: center;	
}
.text{
	text-align: center;
	font-size: 20px;
}
.button{
	margin: 5px 55% 5px 45%;
	border:2px solid white;

}