@import 'base.scss';

.css-intro {
  font-family: 'Pacifico', cursive;
  height: 100px;
  margin-top: 20px;
  @include flex;
  @include gradient((red,orange,yellow,green,blue,indigo,violet), 90deg);
}

.css-container {
  display: flex;
  font-family: 'Pacifico', cursive;
  justify-content: space-around;
  text-align: center;
}

.css-feature {
  display: inline-block;
  margin: 20px;
  border: $border-standard;
  font-size: 24px;
  width: 300px;
  transition: 0.5s transform;
}

.css-feature:hover {
  @include prefix(transform, scale(1.1));
}

.css-logo {
  max-height: 200px;
}

.css-footer {
  background-color: $slogan-background-color;
  border-bottom: $border-standard;
  border-top: $border-standard;
  @include flex;
}
