$colors : #30a9dc ;
$borders : 4px solid black;
.css-banner{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:$colors;
}
.css-slogan{
	display: flex;
	justify-content: center;
	align-items: center;
	border: $borders ;
	background-color: $colors;
	width: 60%;
	height: 50%;
	margin-bottom: 30px;
}
.css-title-long{
	display: inline;
	font-family: 'pacifico',cursive;
	color: white;
}
.css-title-short{
	display: none;
}
.css-intro{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
	margin: 30px 0 30px 0;
}

.css-container{
	margin: 0 auto;
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.css-feature:hover{
	transform: scale(1.1);
}
p{
	font-family: 'pacifico',cursive
}
a{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	border: $borders ;
}
a p{
	text-align: center;

}
img{
	width: 200px;
}
.css-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top:$borders ;
	border-bottom: $borders ;
	background-color:$colors;
	height: 50px;
	margin-top: 10%; 
}
@media screen and (max-width: 666px) {
.css-title-long{
	display: none;
}
.css-title-short{
	display: inline;
	font-family: 'pacifico',cursive;
	color: white;
}
.css-container{
	flex-direction: column;
	align-items: center;
}
a{
	margin-bottom: 30px;
}
}