
@import "partials/variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $bodyfontsize;
}

p, span {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.css-banner {
	background-color: $bannercolor;
	height: 400px;
	@include flex(center,center);
	border: $standard-border;
}

.css-slogan {
	@include flex($value1 : center);
	background-color: $slogancolor;
	width: 50%;
	padding: 80px;
	border: $standard-border;
	font-size: $sloganfontsize;
}

.css-title-long {
	display: none;
}

.css-intro {
	@include flex($value1 : center);
	padding: 40px;
	margin: 20px 0 40px 0;
	@include gradient((red, orange, yellow, green, blue, indigo, violet),90deg);
}

.css-container {
	@include flex($value1 : space-around);
	flex-wrap: wrap;
	width:100%;
}

.css-logo {
	height:200px;
	width:200px;
}

.css-feature {
	@include flex(space-between,center);
	flex-direction: column;
	text-decoration: none;
	padding: 20px;
	margin: 20px;
	width:250px;
	height:300px;
	border: $standard-border;
	color:black;
	font-size: $featurefontsize;
	transition: transform .5s;
	&:hover {
		@include prefix(transform,scale(1.1));
	}
}

.css-footer {
	background-color: $slogancolor;
	@include flex(center,center);
	height: 50px;
	border: $standard-border;
}

@media all and (min-width: 970px) {
	.css-title-long {
		display: block;
	}
	.css-title-short {
		display: none;
	}

}



