@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');



h1{
	font-size: 80px;
	line-height: 150px;
	height: 150px;
	text-align: center;
	text-shadow: 10px 25px #35F021;
	color:#082428; 
	font-style: oblique;
	font-weight: bold;
	text-transform: uppercase;

}
.link-font{
	font-family: 'Metamorphous', cursive;
	font-size: 60px;

}
.import-font{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 40px;
}
@font-face {
    font-family: 'myfont';
    src: url(myfont.ttf);
}
.font-face{
	font-family: 'myfont';
	font-size: 50px;

}