* {
	margin: 0;
	padding: 0;
}
body {
	width: 960px;
	margin: 0 auto;
	background-color: #355664;
	color:white;
}
#loslo {
	margin-top: 15px;
	margin-bottom: 15px;
	float:left;
}
h1 {
	font-size: 3em;
}
nav ul {
	float:right;
	list-style: none;
	margin-top: 40px;
	background-color: #e3e6e8;
	padding: 8px 5px 8px 20px;
	border-radius: 9px;
  	background: linear-gradient(grey, black, blue);
}
nav ul li {
	display: inline;
	margin-right: 15px;
	padding:4px;
	border-radius:5px;
}
nav ul li a {
	text-decoration: none;
	color:grey;
}
nav ul li:hover {
	background-color: white;
}
.div {
	overflow: hidden;
	background-color: #213e4a;
	border-radius: 10px;
	margin: 0;
	padding: 20px;
	float: left;
}
.div h2 {
	background: linear-gradient(grey,black,grey);
	border-radius: 5px;
	padding-left: 10px;
}
.div p {
	text-shadow: 5px 2px 2px #17262d;
}
#lastpar {
	width:100%;
	margin: auto;
}

.img {
	float: right;
	width: 420px;
	border: solid 5px #142f3d;
	border-radius: 10px;
}
.img:hover {
	box-shadow: 0px 0px 2px #3f85a8;
}
ul li {
	display: inline;
	margin-left: 9px;
}
ul li img {
	width: 200px;
	border: solid 5px #142f3d;
	border-radius: 50%;
}
ul li img:hover {
	box-shadow: 0px 0px 2px #3f85a8;
}
.blueback {
	background-color: #213e4a;
}
.bottom {
	font-size: 0.7em;
	float:left;
}
#butr {
	float: right;
}
#butc {
	margin-left: 330px;
}
#floatbox {
	position: fixed;
	top:200px;
	left:-480px;
	width:500px;
	height:80px;
	background-color: white;
	color:black;
	border-radius: 0 10px 10px 0;
	transition: 1s;
}
#floatbox:hover {
	transform: translate(480px,0);
}
#floatbox div {
	float:left;
	position: relative;
	top:10px;
	left: 20px;
	width:60px;
	height:60px;
	background-color: red;
}
#floatbox h2 {
	margin:10px 0px 10px 100px;
}
#floatbox a {
	text-decoration: none;
	margin-left: 40px;
	font-size: .6em;
}
svg {
	padding:20px;
}