<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/three-inline.css">
        <title>three-inline</title>
    </head>
    
    <body>
        <div id="container">
            <header id="header">
                <p>Header</p>
            </header>
            <section id="section1" class="change">
                <p>Hello</p>
            </section>
            <section id="section2" class="change">
                <p>Hello</p>
            </section>            
            <section id="section3" class="change">
                <p>Hello</p>
            </section>
            <footer id="footer">
                <p>Footer</p>
            </footer>
        </div>
    </body>
</html>
