.link-font {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 100px;

}


.import-font {
	font-family: 'Barrio', cursive;
	font-size: 70px;
	}

.font-face-font {
	font-family: 'Diplomata', cursive;
	font-size: 50px;



}