*
{
	margin: 0;
	border: 0;
}
ul {
	list-style-type: none;

}
body
{
	background-color: #f1f1f1;
}
/*Header */
header
{
	background-color: #fff;
	height: 40px;
	overflow: hidden;
	padding: 20px;
}
header h1
{
	float: left;
	font-family: calibri;
}

.logo
{
	color: #5fc1c8;

}
header nav
{
	float: right;
}

header nav ul li
{
	float: left;
	margin-right: 30px;
}

a:link
{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14pt;
	font-family: calibri;
	color: #43b7e4;
}
a:hover
{
	text-decoration: underline;
	color: #1c9ed1;
	transition: 1s;
}
/*Jumbotron*/
#jumbotron
{
	background-color: red;
	height: 500px;
	background: url('images/first1.jpg') no-repeat ;
	background-size: 100% 100%;
	position: relative;


}
#jumbotron h2
{
float: right;
color: #2acf10;
text-shadow: 2px 2px 8px #fff;
font-family: calibri;
font-size: 35pt;
}
#jumbotron p 
{
	width: 300px;
	font-size: 15pt;
	color: #414141;
	position: absolute;
	right: 60px;
	top: 150px;
}
.readmore

{
	margin-right: 13%;
	margin-bottom: 2%;
	float: right;
	border:1px solid #43b7e4;
	padding: 10px;
	background-color: #fff; 
	position: absolute;
	right: 5%;
	bottom: 5%;
}

/*features*/
#features
{
	text-align: center;
	width: 1000px;
	margin: 20px auto;

}
#features ul
{
	overflow: hidden;

}
#features ul li 
{
	float: left;

	border: 1px solid #ccc;
	height: 160px;
	overflow: hidden;
	width: 280px;
	margin-right: 10px; 
	padding-top: 140px;
}
#features #feature-1
{
	background: url('images/book.png') no-repeat top center ;
	background-size: 100px 100px;
		background-color: #fff;
}
#features #feature-2
{
	background: url('images/deal.jpg') no-repeat top center;
	background-size: 100px 100px;
	background-color: #fff;
}
#features #feature-3
{
	background: url('images/contact with us .jpg') no-repeat top center;
	background-size: 100px 100px;
	background-color: #fff;
}

#content
{
	
	margin top : 15px;
	padding-left: 100px;
	padding-right: 100px;

}
article 
{
	margin-top: 20px;
	overflow: hidden;
	background-color: #993b92;
	margin-bottom: 10px;
	border: 1px solid #e4f3f9;
	padding: 10px;
	position: relative;
}
	article h3
	{
		color: #fff;
		border-bottom: 1px dotted #fff;
		font-size: 24pt;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	article p 
	{
		font-family: calibir;
		font-size: 16pt;
		float: left;
		width: 60%;
		text-align: justify;

	}
	article img 
	{
		float: right;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 7px;
		width: 400px;
		height: 300px;
	}
	article .read
	{
		float: right;
		margin-right: 20px;
		background-color: #fff;
		border: 1px solid #ccc ;
		padding: 7px;
		margin-bottom: 10px;
		position: absolute;
		left: 5px;
		bottom: 5px;


	}
    
    article .reeed 
    {
    	background-color: #fff;
    	border: 1px solid #ccc;
    	padding: 8px;
    	position : absolute;
    	left: 5px;
		bottom: 5px;

    }

footer {
   height:150px;   /* Height of the footer */
   background:#6cf;
}

footer #first div {
	float: left;
	width: 33%;
}


footer #first {
	overflow: hidden;
}

footer #second {
	text-align: center;
	margin-top: 100px;
	clear: both;
}














































































