

body {
    margin: auto;
}


div {
    color: #e9eae7;
    text-align: center;
    line-height: 150px;
    margin: auto;
}


#div1 {
    background-color: #6aab2e;
    height: 150px;
    width: 800px;
    border-radius: 7px;
}




main {
    background-color: #ffffff;
    width: 800px;
    height: 150px;
    margin: auto;
}

#content {
    background-color: #6aab2e;
    height: 150px;
    width: 595px;
    border-radius: 7px;
    float: left; 
}


#sidebar {
    background-color: #6aab2e;
    height:150px;
    width: 200px;
    border-radius: 7px;
    float: right; 
}



#footer {
    background-color: #6aab2e;
    height: 150px;
    width: 800px;
    border-radius: 7px;
    clear: both;
}


#div6  {
	display: none;
    background-color: #2f3f4f;
}


#div7 p{
	display: block;
	background-color: #2f3f4f;
	color: #ffffff;
}


#div8 p{
	display: inline-block;
    background-color: #2f3f4f;
    color: #ffffff;
}


#div9 p {
	display: inline;
	background-color: #2f3f4f;
	color: #ffffff;
}
