


.change{
	background-color: gray;
	width: 150px;
	height: 150px;
		border-radius: 5px;  
}
p{
	text-align: center;
	height: 150px;
	line-height: 150px;
}
#div2{
	position: relative;
	background-color: white;
	border-style: dotted;
	}
#div3{
	position: absolute;
	left: 20px;
	top: 25px;
	
	background-color: #006262;
}
#div4{
	
	margin: -20px 0 0 0;
}
#div3 p{
	height: 100px;
	line-height: 100px;
}

