.test1 {
	width:200px;
	padding:10px;
	margin:10px;
	border:2px solid black;
	background-color: green;
	color:white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.test2 {
	width:200px;
	padding:10px;
	margin:10px;
	border:2px solid blue;
	background-color: red;
	color:white;
	-webkit-box-sizing: padding-box;
	-moz-box-sizing: padding-box;
	box-sizing: padding-box;
}
.test3 {
	width:200px;
	padding:10px;
	margin:10px;
	border:2px solid yellow;
	background-color: black;
	color:white;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.test4 {
	width:200px;
	height:200px;
	background-color: grey;
	border-radius: 20px 75px 40px 100px;
}