
#first p{
	display: block;
	background-color: red;
}
#second p{
	display: inline-block;
	background-color: green;
}
#third p{
	display: inline;
	background-color: blue;
}
#fourth p{
	display: none;
	background-color: black;
}