#container{
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 2px solid #017676;
}

#div1{
	position: relative;
	color: #F04B4B;
	width: 150px;
	height: 150px;
	border: 2px solid red;
	top: 30px;
	left: 200px;
	border-radius: 10px;
}

#div2{
	position: absolute;
	border: 2px dotted #327F95;
	top: 50px;
	left: 80px;
	
}

#relative{
	
	position: relative;
	width: 80px;
	height: 80px;
	border: 2px solid #327F95;
	color: #F04B4B;
	left: 20px;
	top: -70px;
	border-radius: 10px;
	
}

#fixed{
	background-color: #CFCB1F;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 0;
	right: 0;
}

 p{
	text-align: center;
	height: 20px;
	line-height: 20px;
}
#relative p{
	height: 30px;
	line-height: 30px;

}
#div1 p{
	text-align: left;
}
