.c1 p {
	display: inline;
	background-color: red;
	font-size: 40px;
}

.c2 p {
	display: inline;
	background-color: blue;
	font-size: 40px;
}

.c3 p {
	display: inline;
	background-color: green;
	font-size: 40px;
}