@import "partials/variables";



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
		font-size: $standard-font-size;
}

p, span {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.css-banner {
	background-color: lighten($bluedark,10%);
	height: 400px;
@include flex($align-items-val:center);
	border: $standard-border;
}

.css-slogan {
	@include flex();
	background-color: darken($bluelight,10%);
	width: 50%;
	padding: 80px;
	border: $standard-border;
	font-size: $standard-font-size * 2;
}

.css-title-long {
	display: none;
}

.css-intro {
	@include flex();
	padding: 40px;
	margin: 20px 0 40px 0;
	@include gradient((red, orange, yellow, green, blue, indigo, violet), 60deg);
}

.css-container {
	@include flex($justify-content-val:space-between);
	flex-wrap: wrap;
	width:100%;
}

.css-logo {
	height:200px;
	width:200px;
}

.css-feature {
	@include flex(space-between,center);
	flex-direction: column;
	text-decoration: none;
	padding: 20px;
	margin: 20px;
	width:250px;
	height:300px;
	border: $standard-border;
	color:black;
	transition: transform .5s;
}

.css-feature:hover {
@include prefix();
}
.css-feature p {
	font-size: $standard-font-size * 1.1;
}

.css-footer {
		@include flex($align-items-val:center);
	background-color: $bluelight;
	height: 50px;
	border: $standard-border;
}

@media all and (min-width: 970px) {
	.css-title-long {
		display: block;
	}
	.css-title-short {
		display: none;
	}

}

