@-webkit-keyframes move{
  0% {top:0;left: 0}
  50%{top:300px;left: 60px}
  75%{top:-300px;left: -60px;}
  100%{top: 0;left: 0;}
}
#click{
	width: 50px;
	height:50px;
  position: relative;
   -webkit-animation-name: move;
   -webkit-animation-duration: 3s;
}
