#div1{
	background: #80ced6;
	height: 100px;
	background: -webkit-linear-gradient(left, rgba(128, 206, 214, 0), rgba(213, 244, 230, 1));
	background: -o-linear-gradient(right, rgba(128, 206, 214, 0), rgba(213, 244, 230, 1));
	background: -moz-linear-gradient(right, rgba(128, 206, 214, 0), rgba(213, 244, 230, 1));
	background: linear-gradient(to right, rgba(128, 206, 214, 0), rgba(213, 244, 230, 1));
}

#div2{
	background: #034f84;
	height: 100px;
	background: -webkit-linear-gradient(left top, #034f84, #92a8d1);
	background: -o-linear-gradient(bottom right, #034f84, #92a8d1);
	background: -moz-linear-gradient(bottom right, #034f84, #92a8d1);
	background: linear-gradient(to bottom right, #034f84, #92a8d1);
}
#div3{
	background: #87bdd8;
	height: 100px;
	background: -webkit-linear-gradient(#87bdd8, #FFFFFF, #87bdd8, #FFFFFF, #87bdd8);
	background: -o-linear-gradient(#87bdd8, #FFFFFF, #87bdd8, #FFFFFF, #87bdd8);
	background: -moz-linear-gradient(#87bdd8, #FFFFFF, #87bdd8, #FFFFFF, #87bdd8);
	background: linear-gradient(#87bdd8, #FFFFFF, #87bdd8, #FFFFFF, #87bdd8);
}
#div4{
	background: #e0876a;
	height: 100px;
	background: -webkit-radial-gradient(#e0876a, #f4a688, #fbefcc);
	background: -o-radial-gradient(#e0876a, #f4a688, #fbefcc);
	background: -moz-radial-gradient(#e0876a, #f4a688, #fbefcc);
	background: radial-gradient(#e0876a, #f4a688, #fbefcc);

}