
div{
	width: 200px;
	height:200px;
	border:2px solid black;
	background-color: #2DCB05;
	text-align: center;
	line-height: 150px;
	border-radius: 10px;


}
.offset{
	position: relative;
	background-color: #560855;
	top:30px;
	left: 30px;
}
.point{
	border:2px dotted gray;
	background-color: white;
}