.normal{
    height: 300px;
    background: red;     
    background: -webkit-linear-gradient(to right, black , yellow); 
    background: -o-linear-gradient(to right, black, yellow); 
    background: -moz-linear-gradient(to right, black, yellow); 
    background: linear-gradient(to right, black , yellow);
}

.topbot{
    height: 300px;
    background: red;     
    background: linear-gradient(to bottom right, gray,blue);
    background: -webkit-linear-gradient(to bottom right, gray,blue);
    background: -o-linear-gradient(to bottom right, gray,blue);
    background: -moz-linear-gradient(to bottom right, gray,blue);
}
.flag{
    height: 300px;
    background: red;
    background:-moz-linear-gradient(to bottom , green,white,red);
    background: linear-gradient(to bottom , green,white,red);
    background: -o-linear-gradient(to bottom,green,white,red);
    background:-webkit-linear-gradient(to bottom , green,white,red);
}
.circle{
    height: 300px;
    background: radial-gradient(red,yellow,black);
    background: -moz-radial-gradient(red,yellow,black);
    background: -o-radial-gradient(red,yellow,black);
    background: -webkit-radial-gradient(red,yellow,black);
}