#container{
    width: 900;
    height: 2000;
    margin: 0 auto;
    background-color: lightpink;
    text-align: center;
}
header{
    width: 100%;
background-color: lightsalmon;
}

section{
    width: 30%;
    float: left;
    border: 3px dotted black;
    margin: 1%;
}
footer{
    width: 100%;
    height: 150px;
    background-color: lightgray;
    clear: both;

}
